VERSION="0.0.3"
FUELMASTER="HOST_OF_FUEL_MASTER"
VIRENV_PATH="../MOS"
FPB_PATH="../fuel-plugins"
XEN_ROOT="root"
XEN_PASSWORD="PASSWORD"
CONTROLLER_NODES="XENSERVER_HOST_1/NODE_NAME_1"
COMPUTE_NODES="XENSERVER_HOST_1/NODE_NAME_2,\
XENSERVER_HOST_2/NODE_NAME_3,\
XENSERVER_HOST_3/NODE_NAME_4"
STORAGE_NODES="XENSERVER_HOST_4/NODE_NAME_5"
