VERSION="0.0.3"

ENV_NAME="test_env"
FUELMASTER="HOST_OF_FUEL_MASTER"
FUELMASTER_ROOT="root"
FUELMASTER_PASSWORD="r00tme"

VIRENV_PATH="../MOS"
FPB_PATH="../fuel-plugins"

XEN_ROOT="root"
XEN_PASSWORD="XEN_PASSWORD"

CONTROLLER_NODES="XENSERVER_HOST_1/NODE_NAME_1"
COMPUTE_NODES="XENSERVER_HOST_1/NODE_NAME_2,\
XENSERVER_HOST_2/NODE_NAME_3,\
XENSERVER_HOST_3/NODE_NAME_4"
STORAGE_NODES="XENSERVER_HOST_4/NODE_NAME_5"
NODE_ETH0="NODE_ETH0"
NODE_ETH1="NODE_ETH1"
NODE_MEMORY="2048"
NODE_DISKSIZE="40"